Project/.venv
HW1/amazon_reviews_us_Office_Products_v1_00.tsv
HW1/.venv
exam/
Pytorch/


# macOS 系统文件
.DS_Store

# Python 缓存
__pycache__/
*.py[cod]
*.pyo

# Jupyter Checkpoints
.ipynb_checkpoints/

# VSCode 和 PyCharm 配置
.vscode/
.idea/

# 环境文件
.env
.venv/
env/
venv/

# Notebook 输出
*.nbconvert.ipynb

# 编译生成文件
*.so
*.out
*.o
*.a
*.log

# 依赖文件
pip-log.txt
poetry.lock

# 虚拟环境包
*.egg-info/
dist/
build/

# Jupyter runtime
~$*
.ipynb_checkpoints/

# PDF 或导出的 notebook 文件


# 覆盖本地开发生成的报告和作业
HW*/HW*-CSCI544.pdf
HW*/README.md

# 其他用户生成的数据或模型缓存（可根据项目自定义）
*.ckpt
*.h5
*.pth
