Project/.venv
HW1/amazon_reviews_us_Office_Products_v1_00.tsv
HW1/.venv
exam/
Pytorch/


# macOS
.DS_Store


__pycache__/
*.py[cod]
*.pyo

# Jupyter Checkpoints
.ipynb_checkpoints/

# VSCode 和 PyCharm 
.vscode/
.idea/


.env
.venv/
env/
venv/

# Notebook
*.nbconvert.ipynb

*.so
*.out
*.o
*.a
*.log

pip-log.txt
poetry.lock

*.egg-info/
dist/
build/

# Jupyter runtime
~$*
.ipynb_checkpoints/



HW*/HW*-CSCI544.pdf
HW*/README.md

*.ckpt
*.h5
*.pth

/Project/impression_1M_50.csv
